<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Font_to_GCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Font_to_GCode.Properties.Settings>
            <setting name="CharacterList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>A</string>
                        <string>B</string>
                        <string>C</string>
                        <string>D</string>
                        <string>E</string>
                        <string>F</string>
                        <string>G</string>
                        <string>H</string>
                        <string>I</string>
                        <string>J</string>
                        <string>K</string>
                        <string>L</string>
                        <string>M</string>
                        <string>N</string>
                        <string>O</string>
                        <string>P</string>
                        <string>Q</string>
                        <string>R</string>
                        <string>S</string>
                        <string>T</string>
                        <string>U</string>
                        <string>V</string>
                        <string>W</string>
                        <string>X</string>
                        <string>Y</string>
                        <string>Z</string>
                        <string>-</string>
                        <string>0</string>
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>5</string>
                        <string>6</string>
                        <string>7</string>
                        <string>8</string>
                        <string>9</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>120</value>
            </setting>
        </Font_to_GCode.Properties.Settings>
    </userSettings>
</configuration>